<section class="section_contact" id="section_contact">
    <div class="carré_contact">
        <div class="form_login">
            <h1 class="h3 mb-3 font-weight-normal">Contactez-moi</h1>
            {{ form_start(formContact, {'attr': {'id': 'contactForm'}}) }}		
                <h5 class="label_contact uk-text-uppercase">Votre nom</h5>
                {{ form_row(formContact.name, {'attr': {'class': 'form-control'}}) }}
                <div id="name-error" class="form-error"></div>
                
                <h5 class="label_contact uk-text-uppercase">Votre adresse mail</h5>
                {{ form_row(formContact.email, {'attr': {'class': 'form-control'}}) }}
                <div id="email-error" class="form-error"></div>
                
                <h5 class="label_contact uk-text-uppercase">Votre message</h5>
                {{ form_row(formContact.message, {'attr': {'class': 'form-control'}}) }}
                <div id="message-error" class="form-error"></div>

                <button type="submit" class="btn button_login mt-5 text-uppercase">Envoyez</button>
            {{ form_end(formContact) }}
        </div>
    </div>	
</section>